{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid pb-4 mt-4">
        <h1 class="text-center">Todas los alquileres</h1>
        <div class="row justify-content-around mt-5 gap-1">
            <div class="col-md-11 mt-4">
                <table class="table table-dark table-striped table-hover text-center">
                    <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Valor total</th>
                        <th scope="col">Fecha inicio</th>
                        <th scope="col">Fecha fin</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    {% for alquiler in alquileres %}
                        <tr>
                            <td>{{ alquiler.cliente.nombre }} {{ alquiler.cliente.apellido }}</td>
                            <td>{{ alquiler.valorTotal }}</td>
                            <td>{{ alquiler.fechaInicio|date('d/m/Y') }}</td>
                            <td>{{ alquiler.fechaFin|date('d/m/Y') }}</td>
                            <td class="action">
                                <a class="text-white btn btn-danger"
                                   href="{{ path( 'eliminar_alquiler', {'id':alquiler.id } ) }}">
                                    Borrar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    </div>

{% endblock %}