{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid pb-4 mt-4">
        <h1 class="text-center">Todas las Peliculas</h1>
        <div class="row justify-content-around mt-5 gap-1">
            {% for pelicula in peliculas %}
                    <div class="card border-primary text-primary col-md-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ pelicula.nombre }}</h5>
                            <p class="card-text">{{ pelicula.sinopsis }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item border-primary">Precio de alquiler: ${{ pelicula.precioUnitario }}</li>
                            <li class="list-group-item border-primary">Tipo: {{ pelicula.tipo }} | Genero: {{ pelicula.genero }}</li>
                            <li class="list-group-item border-primary">Fecha estreno: {{ pelicula.fechaEstreno|date('Y/m/d') }}</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="{{ path( 'agregar_pelicula_alquiler', {'id':pelicula.id} ) }}" class="btn btn-primary">Alquilar</a>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
