{% extends 'base.html.twig' %}

{% block title %}Listado de Peliculas{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="container-cards">
            <h1> Listado de Peliculas 🎦</h1>
            <div class="mb-3 container-peliculas">
                {% for pelicula in peliculas %}
                    <div class="card text-center mt-4" style="width: 18rem;">
                        <div class="card-body">
                            <h3 class="card-title">{{ pelicula.nombre }}</h3>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Fecha de estreno: {{ pelicula.fechaEstreno|date('Y-m-d') }}</h6>
                            <p class="card-text">Sipnosis: {{ pelicula.sipnosis }}</p>
                            <p>Precio: {{ pelicula.precioUnitario }}</p>
                            <h6 class="card-subtitle mb-2 text-muted">{{ pelicula.tipo }} 🔹 {{ pelicula.genero }}</h6>
                            <div class="align-items-end">
                                <a href="{{ path('alquilar',{'id':pelicula.id}) }}" class="btn btn-success">Alquilar</a>
                                <a href="{{ path('editar',{'id':pelicula.id }) }}" class="btn btn-primary">Editar</a>
                                <a href="{{ path('eliminar', {'id':pelicula.id}) }}" class="btn btn-danger">Eliminar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}